body {
  margin-top: 5%;
  font-family: 'Orbitron', sans-serif;
  background-color: dimgray;
  color: white;
}

.tab{
  text-align: center;
  margin: auto;
  max-width: 400px;
}

table {
 text-align: center;
 height: 320px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.tab input{
  background-color: dimgray;
  border: none;
  outline: none;
  font-size: 30px;
  cursor:pointer;
}

.circle.btn{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid #7CFC00;
    /*background: -webkit-gradient(linear, left top, right top, color-stop(100%,#F00), color-stop(40%,#00F));
    background: -moz-linear-gradient(left center, #F00 100%, #00F 100%);
    background: -o-linear-gradient(left, #F00 100%, #00F 100%);
    background: linear-gradient(to right, #F00 0%, #00F 100%);
    background: #00F;*/
}

#timeText{
  margin-top: -120px;
  font-size: 22px;
}

#time{
  margin-top: -125px;
  font-size: 22px;
}

